<div class="table-container ">
<table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Canciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let playlist of playlists" [routerLink]="['/editarplaylist']" (click)="seleccionarPlaylist(playlist, $event.target)"> -->
      <tr *ngFor="let playlist of playlists" (click)="seleccionarPlaylist(playlist, $event.target)">
        <td [ngClass]="{'selected': playlist === playlistSeleccionada}">{{ playlist.nombre }}</td>
        <td [ngClass]="{'selected': playlist === playlistSeleccionada}">
          <ul id="prioridad">
            <li *ngFor="let cancion of playlist.canciones">
              {{ cancion.titulo }} - {{ cancion.artista }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
